
static/uploadimages/109979502.jpg
instance/food.db
.idea/vcs.xml
.idea/modules.xml
.idea/misc.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.vscode/settings.json
.idea/Flask_2.iml
