{% extends 'base.html' %}
{% block title %}
О создателе сайта
{% endblock %}
{% block body %}
<div class="container">
    <h1> Для связи: </h1>
    <h2>Костевич Ирина Валентиновна</h2>
    <img src="/static/Myfoto/profilephoto.jpg" height="150" alt="Card image cap">
    <h3><a href="https://t.me/sleep_fox789" style="color:#000000" >Telegram</a></h3>
    <h3><a href="https://github.com/kostevich" style="color:#000000" >Github</a></h3>
    <h3>+375295827818</h3>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
{% endblock %}