{% extends 'base.html' %}
{% block title %}
NewFooD
{% endblock %}
{% block body %}
<div class="container">
  <div class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
    <div class="col-lg-6 px-0">
      <h1 class="display-4 fst-italic">Попробуйте новые вкусы вместе с нами!!!</h1>
    </div>
  </div>
</div>
<div class="container marketing">
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Так может выглядеть<span class="text-body-secondary"> один из ваших вариантов.</span></h2>
      <p class="lead">Вы можете добавить тег блюду.</p>
    </div>
    <div class="col-md-5">
      <img src="/static/Fotohtml/1584630601_bljuda-28.jpg" height="150" alt="Card image cap">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Или... <span class="text-body-secondary">Так.</span></h2>
      <p class="lead">Также оцените свое блюдо после пробы.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/static/Fotohtml/d702b886d27dcddd9b41716b4c9db359.jpg" height="150" alt="Card image cap">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Какой аппетитный медвежонок.<span class="text-body-secondary">Так бы и съела его.</span></h2>
      <p class="lead">Добавить комментарий к оценке. И пожелания лучшего приготовления в следующий раз.</p>
    </div>
    <div class="col-md-5">
      <img src="/static/Fotohtml/dc7143fd88938e8d9928da5b115e433071c7d731r1-750-500v2_hq.jpg" height="150" alt="Card image cap">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7 order-md-2">
      <h2 class="featurette-heading fw-normal lh-1">Ну а как же без необычного осминожка.<span class="text-body-secondary">Может и его??? МММ</span></h2>
      <p class="lead">Доступна дата последнего изменения хотелки.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img src="/static/Fotohtml/fa7d49013b231dc6ed1f6b018e1db9b3.jpg" height="150" alt="Card image cap">
    </div>
  </div>
  <hr class="featurette-divider">
  <div class="row featurette">
    <div class="col-md-7">
      <h2 class="featurette-heading fw-normal lh-1">Ну и как же без малышки Wednesday! <span class="text-body-secondary">Она милашка, правда?</span></h2>
      <p class="lead"> И наконец, можно добавлять изображения!</p>
    </div>
    <div class="col-md-5">
      <img src="/static/Fotohtml/p201609287ff44ea8.jpg" height="150" alt="Card image cap">
    </div>
  </div>
  <hr class="featurette-divider">
</div>
{% endblock %}