<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>watch_articles</title>
</head>
<body>
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <center><h1 class="display-3">Мои статьи</h1></center>
    </div>
    {% for el in articles %}
    {{ el}}
    ghbdrn
    <div class="card">
        <div class="card-body">
<!--            <img-->
<!--              class="fit-picture"-->
<!--              src="url_for('static', filename='f{{ el.image}}')"-->
<!--              alt="Grapefruit slice atop a pile of other slices"-->
<!--            />-->
                <img
                  class="fit-picture"
                  src="/static/uploadimages/IMG_20230707_210417.jpg"
                  alt="Grapefruit slice atop a pile of other slices"
                />
        </div>
    </div>
    <br>
    <br>
    {% endfor %}
</div>
</body>
</html>