{% extends 'base.html' %}

{% block title %}
Мои статьи
{% endblock %}

{% block body %}
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <center><h1 class="display-3">Что покушать?</h1></center>
    </div>
    {% if articles| length>0 %}
    {% for el in articles %}
    <div class="card">
  <div class="card-body">
    <h4 class="card-title">{{ el.title }}</h4>
      <img src="/static/uploadimages/{{ el.image }}" height="150" alt="Card image cap">
      <p class="card-text">
    </p>
      <a href="watch_articles/{{ el.id }}" class="btn btn-primary">Детальнее</a>
  </div>
        </div>
    {% endfor %}
    {% else %}
    <p>На сайте отсутcтвуют статьи</p>
    {% endif %}
</div>
{% endblock %}